 .jumbotron{
  padding-top: 7rem;
  background-color: #b6f604c4;
 }

 section{
  padding-top: 5rem;
 }
  #visi{
  background-color:#e3e302e2;
 }
 
 #galeri{
  background-color:#05e7bdc3;
 }

 #kontak{
  background-color:#e3e302e2;
 }


